/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-may-2019, 13:26:07
    Author     : Admin
*/
*{ /*el * significa que afecta a todo*/
    margin: 0px; /*es bueno inicializar*/
    padding: 0px;
}

/*Selector de etiqueta*/
/* HAY QUE USAR SELECTEORES DE CLASE PREFERENTEMENTE, NO USAR LOS DE ID NI LABEL porque no sabemos 
si todos los elementos van a llevar ese estilo*/

.cuerpo{
    background-color: #AAFFAA; /*color de fondo*/ 
    padding: 30px; /*hueco entre el margen del texto y el margen del elemento (formulario)*/
    margin-left: 30%;
    margin-right: 30%;
    border-style:ridge;
    border-color: darkgreen;
    border-radius: 50px;
    border-width: 15px;
}
.bloque{
    text-align: left;
    margin-left: 1%;
    margin-bottom:4%;
    font-size: 2em;
    font-family: sans-serif;
}
.cuadrado {
    background-color: yellow;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%; 
}
.titulo{ /*se refiere a una clase*/
    margin-left: 20%;
    margin-right: 20%;
    margin-top:5%;
    text-align: center;
    padding: 30px;
    background-color: #00FFFF;
    font-family: fantasy;
    font-size: 5em;     
    font-style:oblique;
    border-style:dotted;
    border-color: blue;
    border-radius: 10px;
}
.valor{
    margin-left: 4%;
    font-size: 0.8em;
    font-style: oblique;
    width: 50%;
    border-radius: 10px;
}
.nom{
    color: purple;
    display:inline-block;
    width:150px;
}
.em{
    color: red;
    display:inline-block;
    width:150px;
}
.ed{
    color: orange;
    display:inline-block;
    width:150px;

}
.boton{
    margin-top:3%;
    color: red;
    font-size: 2em;
    margin-right: 5%;   
}
.submit{
    background-color: yellow;
}
.reset{
    background-color: gainsboro;
}
/*
#email { para modificar un id
    font-size: 1.2em;
}
*/
/*form *{ selector usado para los descendientes de form (los input y label)
    display: block; 
}
*/
/*
form label, form input{ lo mismo que el de arriba
    display: block; 
}*/



